/* *{
    background-color: rgb(178, 178, 219);
} */


.background{
    background: linear-gradient(to right , rgb(54, 13, 160), blueviolet);
    color: aliceblue;
}

.card-title{
font-size:14px;
font-weight: bold;
height: 70px;
text-align: justify;
overflow: auto;

}

.card-title::-webkit-scrollbar{
    display: none;
}

.card-text{
    font-size: 14px;
    height: 180px;
    text-align: justify;
}

.card-date{
    display: flex;
    justify-content: space-between;
    background-color: rgb(218, 231, 243);
}

.card-date p{
    font-size: 11px;
    font-weight: bold;
    margin: 7px 0px 7px 0px;
    
   
}

@media only screen and (min-width: 0px) and (max-width:576px) {

    .card-title{
        height: 45px;
    }

    .card-text{
        height: 80px;
        
    }
}
@media only screen and (min-width: 577px) and (max-width:768px) {

    .card-title{
        height: 60px;
    }

    .card-text{
        height: 120px;
    }
}

@media only screen and (min-width: 769px) and (max-width:992px) {

    .card-title{
        height: 70px;
    }

    .card-text{
        height: 160px;
    }
}

@media only screen and (min-width: 993px) and (max-width:1200px) {

    .card-title{
        height: 80px;
    }

    .card-text{
        height: 180px;
    }
}

@media only screen and (min-width: 993px) and (max-width:1200px) {

    .card-title{
        height: 80px;
    }

    .card-text{
        height: 180px;
    }
}
    
